.popup {
    position: fixed;
    top: 0px;
    left: 0px;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .5);
    display: none;
}

@media screen and (max-width: 320px) {
  .popup {
   top: 0px;
  }
}

