.profile__edit-button {
    background: #000000;
    border-color:#FFFFFF;
    margin-left: 21px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .profile__edit-button {
        height: 18px;
        width: 18px;
        margin-left: 0px;
        position: absolute;
        top: 3px;
        right: -27px;
    }    
}