.profile__edit-button {
    background: #000000;
    border-color:#FFFFFF;
    margin-left: 21px;
    margin-top: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    width: 24px;
    border: 1px solid #FFFFFF;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .profile__edit-button {
        height: 18px;
        width: 18px;
        margin-left: 0px;
        position: relative;
        top: 11px;
        right: -27px;
    }    
}

.profile__edit-button:hover {
  opacity: .6;
  transition: ease 1s;
}