.profile__text {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    font-family: 'Inter', 'Arial', sans-serif;
    margin-top: 9px;
    margin-left: 3px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 400px;
}

@media screen and (max-width: 768px) {
    .profile__text {
        text-align: center;
        font-size: 14px;
        margin-top: -5px;
        max-width: 250px;
    } 
}




