.profile {
    display: flex;
    margin-top: 40px;
}

@media screen and (max-width: 768px) {
    .profile {
        flex-direction: column;
        align-items: center;
        margin-top: 29px;
    }  
}


