.profile__title {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    margin-top: 22px;
    margin-bottom: 0px;
    font-family: 'Inter';
    display: flex;
    align-items:flex-start;
    justify-content:flex-start;

}


@media screen and (max-width: 768px) {
    .profile__title {
        font-size: 27px;
        position: relative;
      
        
    }
        
}

