.profile__title {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    margin-top: 22px;
    margin-bottom: 0px;
    font-family: 'Inter';
    display: flex;
    align-items:flex-start;
    justify-content:flex-start;
    max-width: 400px;
    white-space: nowrap; /* Запрещаем перенос строк */
    overflow: hidden; /* Обрезаем все, что не помещается в область */
    text-overflow: ellipsis; /* Добавляем многоточие */

}


@media screen and (max-width: 768px) {
    .profile__title {
        font-size: 27px;
        position: relative;
    }
}

