.card__button {
  border: none;
  outline: none;
  background-color: #fff;
  cursor: pointer;
  background: no-repeat;
  background-image:url("../../../images/Vector1.svg");
  width: 24px;
  height: 20px;
  padding: 0;
}

.card__button:hover {
  opacity: .5;
  transition: 0.3s ease;
}

