.popup__button-close {
    background-image: url('../../../images/CloseIcon.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, .0);
    border: none;
    outline: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    position: relative;
    top: -185px;
    left: 2px;

}

.popup__button-close:hover {
  opacity: .6;
  transition: ease 1s;
}

@media screen and (max-width: 568px) {
  .popup__button-close {
    width: 20px;
    height: 20px;
    top: -185px;
    left: -21px;
  }
}